<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/style.css">
        <title>SFF</title>
    </head>

    <body>
        <div id="navBar" class="Nav">
            <button class="NavBtn" id="MoviesBtn" onclick="Reload()">Movies</button>
            <button class="NavBtn" id="LoginBtn">Login</button>
        </div>

        <div id="Content" class="Container">
            <!-- <ul id="MovieList">
                <li>
                    <div class="MovieCard">
                        <img src="../img/jp.jpg" alt="" class="MovieImage">
                        <div class="MovieCardContent">
                            <h3 class="MovieTitle">Title</h3>
                            <p class="MovieTrivia">Trivia</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="MovieCard">
                        <img src="../img/jp.jpg" alt="" class="MovieImage">
                        <div class="MovieCardContent">
                            <h3 class="MovieTitle">Title</h3>
                            <p class="MovieTrivia">Trivia</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="MovieCard">
                        <img src="../img/jp.jpg" alt="picture" class="MovieImage">
                        <div class="MovieCardContent">
                            <h3 class="MovieTitle">Title</h3>
                            <p class="MovieTrivia">Trivia</p>
                        </div>
                    </div>
                </li>
            </ul> -->
            <div>
                <form class="FormContainer">
                    <label for="fname">Movie studio name:</label><br>
                    <input type="text" id="uname" name="uname"><br>
                    <label for="lname">Password:</label><br>
                    <input type="text" id="password" name="password"><br>
                    <button type="button" id="Create">Create</button>
                </form>
            </div>
        </div>
        <script src="../source/main.js"></script>
        <script src="https://kit.fontawesome.com/b457912d7b.js" crossorigin="anonymous"></script>
    </body>

</html>
